@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SF Mono Regular';
    font-style: normal;
    font-weight: normal;
    src: local('SF Mono Regular'), url('fonts/SFMonoRegular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins'), url('fonts/poppins-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Eurostile';
    font-style: normal;
    font-weight: normal;
    src: local('Eurostile'), url('fonts/eurostile.woff') format('woff');
}